<header id="intro" style="opacity: 0.8;height: 990px">
    <div class="table">
        <div class="header-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1> Cognito </h1>
                    <h4>Real-time TBI diagnostics</h4>
                    <a ui-sref="questions"><button class="btn btn-primary">
                        Diagnose Now
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--<section id="services" class="section section-padded">-->
    <!--<div class="container">-->
        <!--<div class="row text-center title">-->
            <!--<h2>Wait but...why?</h2>-->
            <!--<h5>don't get a konkshun</h5>-->
        <!--</div>-->
        <!--<div class="row services">-->
            <!--<div class="col-md-4">-->
                <!--<div class="service">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="img/icons/heart-blue.png" alt class="icon">-->
                    <!--</div>-->
                    <!--<h4 class="heading">No konshucn pls</h4>-->
                    <!--<p class="description">pls no</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="service">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="img/icons/heart-blue.png" alt class="icon">-->
                    <!--</div>-->
                    <!--<h4 class="heading">wut is cocoshun</h4>-->
                    <!--<p class="description">it is bad</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="service">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="img/icons/heart-blue.png" alt class="icon">-->
                    <!--</div>-->
                    <!--<h4 class="heading">where to go</h4>-->
                    <!--<p class="description">call ghostbusters</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<!--<footer>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6 text-center-mobile">-->
                <!--<h3 class="white">Contact</h3>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row bottom-footer text-center-mobile">-->
            <!--<div class="col-sm-8">-->
                <!--<p>-->
                    <!--pls gibbe money-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->