<header id="intro" style="opacity: 0.8;height: 990px">
    <div class="table">
        <div class="header-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2> if u r reeding dis. u dnt hv no conkushen. vel dun </h2>
                    <button class="btn btn-primary" ng-click="concussioned()">
                    clik heer
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="services" class="section section-padded">
    <div class="container">
        <div class="row text-center title">
            <h2>ETC</h2>
            <h4>don't get a konkshun</h4>
        </div>
        <div class="row services">
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/heart-blue.png" alt class="icon">
                    </div>
                    <h4 class="heading">No konshucn pls</h4>
                    <p class="description">pls no</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/heart-blue.png" alt class="icon">
                    </div>
                    <h4 class="heading">wut is cocoshun</h4>
                    <p class="description">it is bad</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="img/icons/heart-blue.png" alt class="icon">
                    </div>
                    <h4 class="heading">where to go</h4>
                    <p class="description">call ghostbusters</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Contact</h3>
            </div>
        </div>
        <div class="row bottom-footer text-center-mobile">
            <div class="col-sm-8">
                <p>
                    pls gibbe money
                </p>
            </div>
        </div>
    </div>
</footer>