<header id="intro" style="opacity: 0.8;height: 990px">
    <div class="table">
        <div class="header-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1> Cognito </h1>
                    <h4>Real-time TBI diagnostics</h4>
                    <a ui-sref="questions"><button class="btn btn-primary">
                        Diagnose Now
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</header>
