<div class="container">
    <div class="row text-center margin-top">
        <div ng-show="!inProgress">
            <h2>A few questions...</h2>
            <button class ="btn btn-primary" ng-click="startQuiz()">Start Quiz</button>
        </div>
        <div ng-show="inProgress">
            <div ng-show="!quizOver">
                <h4 id="question">{{question}}</h4>


                <div ng-repeat="option in options">
                    <div class="radioWrapper">
                        <input type="radio" id="{{option}}" name="answer" ng-model = "$parent.chosenAnswer"
                               ng-value="option" class="customRadio">
                        <label for="{{option}}" class="customRadio">{{option}}</label>
                    </div>
                </div>

                <button class="btn btn-blue-fill" ng-click="checkAnswer(chosenAnswer)">Submit</button>
            </div>

            <div ng-show="quizOver">
                <h4>{{result}}</h4>
                <h5>Please hold device one foot from face</h5>
                <img src="./img/instructionpic.jpg"><br>
                <a ui-sref="webgazer"><button class="btn btn-primary">
                    Take the eye test.
                </button></a>
            </div>
        </div>
    </div>
</div>