<div class="container container-fluid">
    <div class="row">
        <div class="col-md-3">
            <canvas id="overlay">

            </canvas>
        </div>
        <div class="col-md-9">
            <div ng-show="!ExperimentInProgress">
                <h2>Webgazer</h2>
                <div ng-controller="WebgazerController" >
                    <button ng-click="countDown()">START</button>
                </div>
            </div>

            <!--<div ng-show="countdown">-->
            <div class="text-center">
                <h2>{{seconds}}</h2>
            </div>
            <!--</div>-->

            <!--<div ng-show="ExperimentInProgress">-->
                <div align="center">
                    <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                    <span id="spinner" us-spinner="{radius:200, width:50, length: 2, lines: 10, speed: 1/20, color: 'purple', opacity: 1/10, trail: 5, corners:100}
                        " spinner-key="spinner-1">
                    </span>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>